.about-preview {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
	max-width: 220px;

	text-align: center;
	&__wrap {
		max-width: 160px;
		flex: 0 1 160px;
		min-height: 100px;
		@include mb(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);

		color: #fff;
		@include fz(40px, 50px, $mixin-min-viewport, $mixin-max-viewport, 50px);
		line-height: 1;
		font-weight: 700;
		font-family: $PT;
	}
	h5 {
		@include fz(18px, 21px, $mixin-min-viewport, $mixin-max-viewport, 21px);
		font-weight: 700;
	}
	& > * {
		width: 100%;
		flex: 1 1 auto;
	}
}