.angle-wrap {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	flex: 1 1 auto;
	width: 100%;

	padding: 10px;

	background: url('../images/angle-wrap-top-left.png') 0 0 no-repeat,
				url('../images/angle-wrap-top-right.png') 100% 0 no-repeat,
				url('../images/angle-wrap-bottom-right.png') 100% 100% no-repeat,
				url('../images/angle-wrap-bottom-left.png') 0 100% no-repeat;
	// background-size: 26px;
	& > * {
		margin: 0;
		// flex: 1 1 auto;
	}
	&_size_smaller {
		background-size: 13px;
	}
	&_light {
		background: url('../images/angle-wrap-top-left-light.png') 0 0 no-repeat,
				url('../images/angle-wrap-top-right-light.png') 100% 0 no-repeat,
				url('../images/angle-wrap-bottom-right-light.png') 100% 100% no-repeat,
				url('../images/angle-wrap-bottom-left-light.png') 0 100% no-repeat;
	}
}