.articles-wrap {
	padding: 0;
	@include mb(15px, 27px, $mixin-min-viewport, $mixin-max-viewport, 27px);
}
.articles-wrap__head {
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10px 20px;
	border-bottom: 1px solid #eee;
}

.articles-wrap__body {
}

.articles-wrap__content {
	padding: 18px 20px 25px;
	p {
		font-size: 14px;
		color: #524F4F;
	}
}