.consulltation {
	@include pt(30px, 90px, $mixin-min-viewport, $mixin-max-viewport, 90px);
	@include pb(30px, 50px, $mixin-min-viewport, $mixin-max-viewport, 50px);
}
.consulltation__button {
	@include fz(16px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
}

.consulltation__form {
	width: 100%;
	max-width: 474px;
	display: inline-flex;
	text-align: left;
}