.consult-form {
	// position: relative;
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: center;
	// max-width: 475px;
	// &:before {
	// 	content: '';

	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 63%;
	// 	height: 19%;

	// 	border-top: 4px solid #e5c92f;
	// 	border-left: 4px solid #e5c92f;
	// }
	// &:after {
	// 	content: '';

	// 	position: absolute;
	// 	bottom: -3px;
	// 	right: -3px;
	// 	width: 11.3%;
	// 	height: 8.1%;

	// 	border-right: 4px solid #e5c92f;
	// 	border-bottom: 4px solid #e5c92f;
	// }
	// max-width: 475px;
	&__in {
		// display: flex;
		// flex-wrap: wrap;
		// align-items: center;
		// justify-content: center;
		// min-height: 335px;

		// @include sm() {
		// 	flex: 0 0 80%;
		// 	max-width: 80%;
		// 	width: 100%;
		// }

		// & > * {
		// 	width: 100%;
		// 	flex: 1 1 auto;
		// }
	}
	&__button {
		// white-space: normal;
	}
	&__wrap {
		min-height: 335px;
		@include mh(200px, 335px, $mixin-min-viewport, $mixin-max-viewport, 335px);

		@include sm() {
			flex: 0 1 350px;
			max-width: 350px;
			width: 100%;
		}
	}
}