[data-scroll="axisY"] {
	.mCSB_container {
		margin-right: 20px;
	}
	.mCSB_draggerRail {
		background: none;
	}
	.mCSB_scrollTools {
		width: 10px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 100%;
		background-color: #F3F3F3;

		border-radius: 60px;
	}
}