.deal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: (872 + 645) + px;
	&__img {
		width: 100%;
		max-width: 872px;
		flex: 0 0 872px;
	}
	&__content {
		position: relative;
		width: 100%;
		max-width: 645px;
		flex: 0 0 645px;
		left: -60px;

		font-size: 27px;
		line-height: 1.33;
	}
	&__wrap {
		padding: 40px 20px;
		display: flex;
		flex-wrap: wrap;
	}
	&__angle {
		min-height: 254px;
	}
}
.deal__img {
	img {
		width: 100%;
		@include xl() {
			height: 540px;
			object-fit:cover;
		}
	}
}