.footer {
	margin-top: auto;
	padding-top: 30px;
	@include pb(30px, 60px, $mixin-min-viewport, $mixin-max-viewport, 60px);

	@include fz(18px, 23px, $mixin-min-viewport, $mixin-max-viewport, 23px);
	line-height: 1.3;
	color: #fff;
	font-family: $Segoe;

	background-color: #383b45;
	@media only screen and (min-width: 1450px) {
		padding-top: 190px;
	}
	
	a {
		color: #fff;
	}
}
.footer__content {
	margin: 5px 0;
}