.front {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-wrap: wrap;

	// min-height: 100vh;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(17,30,61) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(17,30,61) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(17,30,61) 100%);
		opacity: .5;
		// z-index: -1;
	}
	& > * {
		width: 100%;
		flex: 1 1 auto;
	}
	&__container {
		margin-top: auto;
	}
	&__form {
		// @include pl(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
		// @include pr(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
	}
	&__in {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 100vh;

		// transition: .1s linear padding 0s;
		@include lg() {
			padding-top: 108px !important;
		}
		& > * {
			width: 100%;
			flex: 1 1 auto;
		}
	}
	&__form-row {
		margin-left: -10px;
		margin-right: -10px;
	}
	&__form-group {
		padding-left: 10px;
		padding-right: 10px;
		@media only screen and (max-width: 450px) {
			max-width: none;
			flex: 0 1 auto;
		}
	}
	&__down {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
// .front {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: flex-end;
// 	position: relative;
// 	@include mh(400px, 480px, $mixin-min-viewport, $mixin-max-viewport, 480px);
// 	@include pt(140px, 150px, $mixin-min-viewport, $mixin-max-viewport, 150px);
// 	background-size: cover;
// 	margin-bottom: 120px;
// 	&:before {
// 		content: '';

// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		bottom: 0;
// 		right: 0;
// 		z-index: 1;

// 		background-color: rgba(#0037F0, .47);
// 	}
// }
// .front__bg {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 100%;
// 	// z-index: 1;
// }
// .front__container {
// 	z-index: 2;
// }
// .front__content {
// 	color: #fff;

// }