.header {
	@include pt(5px, 35px, $mixin-min-viewport, $mixin-max-viewport, 35px);
	@include pb(5px, 35px, $mixin-min-viewport, $mixin-max-viewport, 35px);
	transition: ease background-color .1s,
					linear padding .1s;
	&_fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 3;

	}
	&_fixed_background {
		@include pt(5px, 5px, $mixin-min-viewport, $mixin-max-viewport, 5px);
		@include pb(5px, 5px, $mixin-min-viewport, $mixin-max-viewport, 5px);
		background-color: rgba(#000, .8);
	}
}



.header__logo {
	@include msm() {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.header__tel {
	padding-left: 10px;
	padding-right: 10px;
}