.menu {
	.dropdown-menu {
		width: 100%;
		@include lg() {
			width: 443px;
		}
		@include mxl() {
			background: transparent;
			position: relative !important;
			opacity: 1 !important;
			visibility: visible !important;
			padding: 5px 0px 5px 10px;
		}
	}
	.dropdown-item {
		@include mxl() {
			color: #0d59a0;
			padding: 3px 0;
			// text-transform: uppercase;
			font-weight: 500;
			font-size: 14px;
			line-height: 1;
			&:hover {
				color: #0d59a0;
				background: none;
			}
			
		}
	}
}
.menu__list {
	padding: 0;
	margin: 0;

	list-style: none;
	@include xl() {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;
	}
}
.menu__item {
	&:nth-last-child(3) {
		.menu__link, .menu__button {
			@include xl() {
				width: 150px;
				height: 75px;
			}
		}
	}
	&:nth-last-child(2) {
		.menu__link, .menu__button {
			@include xl() {
				font-size: 15px;
				width: 191px;
				height: 96px;
			}
		}
	}
	&:last-child {
		.menu__link, .menu__button {
			@include xl() {
				width: 280px;
				height: 141px;
			}
		}
	}

}
.menu__link, .menu__button {
	position: relative;

	display: block;
	margin: 0;


	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #0d59a0;
	
	transition: linear .2s;
	@include mxl() {
		font-size: 14px;
	}
	@include xl() {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 129px;
		height: 64px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		color: #fff;
		text-align: center;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			width: 100%;
			height: 100%;

			background-image: url('../images/menu-bg-large.png');
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;

		}
	}
	&:hover {
		text-decoration: none;
		opacity: .9;
		color: #0d59a0;
		@include xl() {
			color: #fff;
		}
	}
	

}


.menu__button {
	&:after{ 
		@include mxl() {
			display: none;
		}
	}

}