.mini-table-title {
	border-left: 3px solid #00CBA3;
	padding: 10px 10px 10px 20px;
	min-height: 88px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	font-weight: 400;
	font-size: 14px;

	background-color: #F8FFF7;
	& > * {
		width: 100%;
		// flex: 1 1 auto;
	}
	div {
		width: 100%;
		margin-top: 5px;

		@include fz(18px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
		font-weight: 700;
		color: #47CA6F;
	}
}

.mini-table-title_blue {
	border-left: none;
	border-right: 3px solid #58A5FF;

	background-color: #F7FDFF;
	div {
		@include fz(14px, 14px, $mixin-min-viewport, $mixin-max-viewport, 14px);
		color: #58A5FF;
	}
}