.mini-table {
	width: 100%;
	border: none;
	border-spacing: 0;
	thead {
		
	}
	tr {

	}
	th,td {
		width: 45%;
		vertical-align: middle;
		border: 1px solid #eee;
		padding: 0;
		&:last-child {
			width: 55%;
		}
	}
	th {
	}
	td {
	}
	tbody {

	}
	.mini-table-title {
		display: block;
	}
}

.mini-table__iconText {
	max-width: 190px;
	min-height: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 0;
	align-items: center;
}