.mobile-fullPage {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 2;
	
	transition: linear .2s;
	background-color: rgba(#000, .5);
	@include md() {
		position: static;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;

		background-color: transparent;
	}
	@include mmd() {
		padding-left: 0;
		padding-right: 0;
	}
	&.visible {
		left: 0;

		opacity: 1;
		.mobile-fullPage__content {
			// transform: translate(0, 0);
			transform: scale(1, 1);
			opacity: 1;
			visibility: visible;
		}
		.mobile-fullPage__button {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.mobile-fullPage__title {
	font-weight: 700;
	color: #444;
	@include mb(10px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
}
.mobile-fullPage__content {
	display: flex;
	flex-direction: column;
	@include mmd() {
		position: relative;

		max-width: 270px;
		height: 100%;
		padding-top: 30px;
	
		will-change: transform;
		border-radius: 0;
		transform: scale(0.1, 0.1);
		transition: .3s linear .4s;
	
		opacity: 0;
		visibility: hidden;
	}
}

.mobile-fullPage__content-in {
	flex: 1 1 auto;
	overflow: auto;
}
.mobile-fullPage__button {
	position: fixed;
	right: 15px;
	bottom: 15px;

	transition: linear .2s;
	font-size: 16px;
	.icon {
		// z-index: -1;
		position: relative;
	}
	@include md() {
		display: none;
	}
}
.mobile-fullPage__button_position_new {
	right: 50px;
}
.mobile-fullPage__close {
	position: absolute;
	top: 10px;
	right: 10px;

	font-size: 30px;
	color: #444;
	.icon {
		// z-index: -1;
		position: relative;
	}
	@include md() {
		display: none;
	}
}