.order-card {
	background-color: #fff;
	display: inline-block;
	width: 100%;
	max-width: 345px;
	&__title {
		display: flex;
		flex-wrap: wrap;

		background-color: #f1f1f1;
		transition: linear .2s;
	}
	&__title-in {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 10px 20px;

		flex: 1 1 auto;
		width: 100%;
		min-height: 57px;
		h3 {
			margin-bottom: 0;
		}
	}
	&__body {
		padding: 20px;

		font-family: $Geo;
		font-weight: 500;
		@include fz(15px, 17px, $mixin-min-viewport, $mixin-max-viewport, 17px);
		color: #5c5c5c;
	}
	&__foot {
		padding: 0 20px 25px;
		text-align: center;
		h3 {
			color: #fdb900;
		}
	}
	&__button {
		margin: 0;

		width: 100%;
		max-width: 237px;
		&:hover {
			background-color: rgb(229, 201, 47);
			box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.11);
		}
	}
	&:hover {
		.order-card__title {
			background-color: #e5c92f;
		}
	}
}