.order {
	&_color_white {
		color: #fff;
		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			color: #fff;
		}
	}
}
.order__row {

}
.order__col {
	margin-bottom: 30px;
	@include xl() {
		padding-left: 22px;
		padding-right: 22px;
		margin-bottom: 44px;
	}
	
	
}
.order__card {
	height: 100%;
	display: flex;
	flex-direction: column;
	.order-card__foot {
		margin-top: auto;
	}
	@include xl() {
		// width: 345px;
	}
}