.percent-block {
	&__wrap {
		position: relative;
		height: 10px;
		border: 1px solid #E6E6E6;

		background-color: #F2F2F2;
		border-radius: 16px;
	}
	&__scale {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	
		background: #00cba3;
		background: -webkit-linear-gradient(left, #00cba3 0%, #c9d161 50%, #f65570 100%);
		background: -o-linear-gradient(left, #00cba3 0%, #c9d161 50%, #f65570 100%);
		background: linear-gradient(to right, #00cba3 0%, #c9d161 50%, #f65570 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cba3', endColorstr='#f65570',GradientType=1 );
	}
	&__deription {
		color: #DFDFDF;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
		span {
			padding-left: 3px;
			padding-right: 3px;
		}
	}
}