.personal {
	// margin: 5px 0;
}
.personal__button {
	width: 164px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.personal__img {
	max-width: 35px;
	width: 100%;
}
.personal__name {
	display: inline-block;
	width: 100%;
	max-width: 100px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color: #4A4A4A;
}
.personal__icon-dots {
	font-size: 16px;
}


.personal_white {
	.personal__name {
		color: #fff;
	}
	.icon {
		color: #fff;
	}
}