.preview {
	display: inline-block;
	width: 100%;
	// max-width: 346px;
}
.preview__img {
	img {
		object-fit: cover;
		@media only screen and (min-width: 451px) {
			height: 207px;
		}
	}
}

.preview__body {
	@include pt(10px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	padding-bottom: 10px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include mb(1px, 10px, $mixin-min-viewport, $mixin-max-viewport, 10px);
	}
	p {
		margin-bottom: 10px;
	}
	@include fz(16px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	line-height: 1.23;
}