.section {
	@include pt(25px, 50px, $mixin-min-viewport, $mixin-max-viewport, 50px);
	@include pb(25px, 50px, $mixin-min-viewport, $mixin-max-viewport, 50px);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		@include mb(25px, 60px, $mixin-min-viewport, $mixin-max-viewport, 60px);
	}
	&_background_yellow {
		background-color: #fdb900;
	}
	&_background_grey {
		background-color: #f4f5f9;
	}
	&_background_grey_task-bg {
		background-size: cover;
		background-position: 100% 100%;
		background-size: 1920px;
		@media only screen and (min-width: 1920px) {
			background-size: 1920px;
		}
	}
}

