.services-card {
	display: inline-block;
	@include fz(16px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	text-align: center;
	font-weight: 500;
	font-family: $Geo;
}
.services-card__head {
	margin-bottom: 15px;
	height: 90px;
}