.sold {
	position: relative;
	&:before {
		@include md() {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 85%;
	
			background-color: #fff;
			
		}
	}
	& > * {
		@include md() {
			position: relative;
		}
	}
	&__deal {
		position: relative;
		margin-bottom: 50px;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		&:last-child {
			margin-bottom: 0;
		}
		@media only screen and (min-width: 1680px) {
			left: -248px;
			width: (872 + 645) + px;
		}
		&:nth-child(even) {
			@include md() {
				flex-direction: row-reverse;
			}
			@media only screen and (min-width: 1680px) {
				left: -60px;
			}
			.sold__content {
				left: auto;
				right: 0;
			}
			.sold__img {
				@include md() {
					position: relative;
					left: -60px;
				}
			}
		}
	}
	&__img {
		width: 100%;
		@include md() {
			max-width: 57.5%;
			flex: 0 0 57.5%;
		}
	}
	&__content {
		position: relative;
		width: 100%;
		@include sm() {
			max-width: 470px;
			flex: 0 1 470px;
			margin-left: auto;
			margin-right: auto;
			margin-top: -100px;
		}
		@include md() {
			margin: 0;
			max-width: 42.5%;
			flex: 0 0 42.5%;
			left: -60px;
		}

		@include fz(18px, 27px, 1199px, 1680px, 27px);
		@include msm() {
			font-size: 16px;
		}
		line-height: 1.33;
	}
	&__wrap {
		@include pt(20px, 40px, 1199px, 1680px, 40px);
		@include pb(20px, 40px, 1199px, 1680px, 40px);
		@include pl(15px, 20px, 1199px, 1680px, 20px);
		@include pr(15px, 20px, 1199px, 1680px, 20px);
		display: flex;
		flex-wrap: wrap;
	}
	&__angle {
		@include mh(150px, 254px, 1199px, 1680px, 254px);
		// min-height: 254px;
		@include pt(25px, 40px, 1199px, 1680px, 40px);
		@include pb(25px, 40px, 1199px, 1680px, 40px);
		@include pl(25px, 40px, 1199px, 1680px, 40px);
		@include pr(25px, 40px, 1199px, 1680px, 40px);
	}
}
.sold__img {
	img {
		width: 100%;
		@media only screen and (min-width: 1680px) {
			height: 540px;
			object-fit:cover;

		}
	}
}