.step {
	position: relative;

	display: inline-flex;
	flex-wrap: wrap;

	width: 100%;
	border: 1px solid #c8c8c8;
	background-color: #fff;
	padding: 20px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1;
	}
	&:after {
		content: '';

		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);

		border-top: 22px solid #fff;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
	}
	&:before {
		content: '';

		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);

		border-top: 24px solid #c8c8c8;
		border-left: 21px solid transparent;
		border-right: 21px solid transparent;
	}
	&__in {
		min-height: 120px;
	}
	&__number {
		padding-right: 10px;
		padding-left: 0;
	}
}