.steps {
	position: relative;
	min-height: 869px;
	background-size: contain;
	&__row {
		margin-left: -7px;
		margin-right: -8px;
		& + * {
			margin-top: 50px;
		}
	}
	&__col {
		padding-left: 7px;
		padding-right: 8px;
		margin-bottom: 30px;
		@media only screen and (max-width: 450px) {
			max-width: none;
			flex: 0 1 auto;
		}
	}
	&__item {
		.step__in {
			@include msm() {
				justify-content: center;
			}
		}
	}
}