.task {
	&__col {
		// @include mb(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
		text-align: center;
		@include msm() {
			margin-top: 0;
		}
	}
	&__preivew {
		text-align: left;
		max-width: 346px;
	}
}