.team {
	@include pb(0, 0, $mixin-min-viewport, $mixin-max-viewport, 0);
}
.team {
	@include msm() {
		// margin-left: -10px;
		// margin-right: -10px;
	}
}
.team__col {
	margin-bottom: 0;
	margin-top: 15px;
	@include msm() {
		// padding-left: 10px;
		// padding-right: 10px;
	}
}
.team__member {
	height: 100%;
}