.team-member {
	display: inline-block;
	position: relative;
	&__img  {
		width: 100%;
		// background-position: 50% 50%;
		// background-repeat: no-repeat;
		// background-size: cover;
		object-fit: cover;
		transition: linear .2s;
		@include sm() {
			// width: 315px;
			// height: 483px;
		}
		@include lg() {
			filter: grayscale(100%);
		}
		@include xl() {
			// width: 100%;
			// max-width: 270px;
			// height: 414px;
		}
		&_full_height {
			height: 100%;
		}
	}
	&__about {
		position: absolute;
		@include bottom(15px, 45px, 400px, $mixin-max-viewport, 45px);
		left: 50%;


		padding: 15px 20px 14px;
		@include pt(7px, 15px, $mixin-min-viewport, $mixin-max-viewport, 15px);
		@include pb(7px, 14px, $mixin-min-viewport, $mixin-max-viewport, 14px);
		@include pl(8px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
		@include pr(8px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
		width: 100%;
		transform: translateX(-50%);

		text-align: center;
		color: #394046;
		font-family: $Geo;
		

		@include lg() {
			max-width: 295px;
			margin-left: -147px;

			opacity: 0;
			visibility: hidden;
			transform: scale(0, 0) translateX(-50%);
			transition: linear .2s;
		}

		background-color: rgba(#fff, .86);
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@include mb(5px, 10px, $mixin-min-viewport, $mixin-max-viewport, 10px);
			font-weight: 500;
			color: #394046;
		}
	}
	&__position {
		text-transform: uppercase;
		@include fz(12px, 14px, $mixin-min-viewport, $mixin-max-viewport, 14px);
		font-weight: 500;
		color: #7b7a7a;
	}
	&:hover {
		.team-member__img {
			@include lg() {
				filter: grayscale(0);
			}
		}
		.team-member__about {
			@include lg() {
				opacity: 1;
				visibility: visible;
				transform: scale(1, 1) translateX(0);
				transition: linear .4s;
			}
		}
	}
}