.tel-number {
	@include fz(16px, 22px, $mixin-min-viewport, $mixin-max-viewport, 22px);
	font-weight: 700;
	color: #fff;
	font-family: $PT;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
.tel-number__code {
	@include fz(14px, 16px, $mixin-min-viewport, $mixin-max-viewport, 16px);
}