.testimonials {
	background-position: 100% 100%;
}
.testimonial {
	@include pt(25px, 45px, $mixin-min-viewport, $mixin-max-viewport, 45px);
	@include pb(25px, 45px, $mixin-min-viewport, $mixin-max-viewport, 45px);
	@include pl(15px, 45px, $mixin-min-viewport, $mixin-max-viewport, 45px);
	@include pr(15px, 45px, $mixin-min-viewport, $mixin-max-viewport, 45px);

	@include fz(15px, 17px, $mixin-min-viewport, $mixin-max-viewport, 17px);
	line-height: 1.58;

	&__head {
		margin-bottom: 15px;
		h3 {
			@include msm() {
				text-align: center;
			}
		}
	}
	&__avatar {
		@include msm() {
			margin-bottom: 15px;
		}
	}
}