$rem-font-size: 16px;
$PT: 'PT Sans', sans-serif;
$Geo: 'Geometria', sans-serif;
$Segoe: 'Segoe UI', sans-serif;

// values for body tag
$document-font-family: $Geo;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #242424;
$document-line-height: 1.5;
$document-background: #fff;

$mixin-min-viewport: 575px;
$mixin-min-viewport-mmd: 767px;
$mixin-max-viewport: 1200px;