.background-wrap {
	position: relative;

	padding: 17px 19px;
	background-color: #fff;
	&_flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		& > * {
			flex: 1 1 auto;
			width: 100%;
		}
	}
	&__in {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		& > * {
			width: 100%;
			flex: 1 1 auto;
		}
	}
	
	&__in_front {
		min-height: 134px;
	}

	&_border {
		@include pl(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
		@include pr(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
		border: 1px solid rgba(#9297a1, .8);
		background-color: transparent;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			width: 63%;
			height: 19%;

			border-top: 4px solid #fff;
			border-left: 4px solid #fff;
		}
		&:after {
			content: '';

			position: absolute;
			bottom: -3px;
			right: -3px;
			width: 11.3%;
			height: 8.1%;

			border-right: 4px solid #fff;
			border-bottom: 4px solid #fff;
		}
	}
	&_border_yellow {
		border: 1px solid #e5c92f;
		&:before {
			border-top-color: #e5c92f;
			border-left-color: #e5c92f;
		}
		&:after {
			border-bottom-color: #e5c92f;
			border-right-color: #e5c92f;
		}
	}
	&_black {
		background-color: rgba(#000, .5);
	}

	&_shadow {
		box-shadow: 0 1px 7px rgba(#000, .07);
	}

}

