.circle {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(#000, .16);
	

	font-size: 10px;
	&_green {
		background-color: #47CA6F;
		color: #fff;
	}
	&_red {
		background-color: #FF585E;
		color: #fff;
	}
}