.content {

}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	
	font-weight: 700;
	line-height: 1.2;
	color: #252424;
}
h1 {
	@include fz(24px, 55px, $mixin-min-viewport, $mixin-max-viewport, 55px);
	line-height: 1.2;
}
h2 {
	@include fz(21px, 36px, $mixin-min-viewport, $mixin-max-viewport, 36px);
}
h3 {
	@include fz(18px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
}
h4 {
	@include fz(16px, 23px, $mixin-min-viewport, $mixin-max-viewport, 23px);
}
h5 {
	@include fz(16px, 21px, $mixin-min-viewport, $mixin-max-viewport, 21px);
	font-weight: 400;
}
p {

}