.dotted {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	&:after {
		content: "";
		display: block;
		width: auto;
		position: relative;
		top: -5px;
		border-bottom: 2px dotted #C3C3C3;
		height: 0;
		margin-left: 3px;
		margin-right: 3px;
		order:2;
		flex: 1 1 auto;
	}
	
}
.dotted__term {
	order:1;
}
.dotted__term-definition {
	order:3;
	color: #C3C3C3;
	font-size: 12px;
}