.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	&_size_large {
		font-size: 100px;
	}
	&_size_services {
		font-size: 75px;
	}
	&_color_yellow {
		color: #e5c90f;
	}
	&_angle {
		position: relative;
		width: 22px;
		height: 41px;

		background-image: url('../images/icon-angle.png');
		// background-repeat: no-repeat;
		// background-position: 50% 50%;
		// background-size: contain;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-image: url('../images/icon-angle-yellow.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: contain;
			opacity: 0;
			visibility: hidden;
		}
		&:hover, &:focus {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&_angle_yellow {
		background-image: url('../images/icon-angle-yellow.png');
	}
	&_angle_reverse {
		transform: rotate(-180deg);
	}
	&_auction {
		background-image: url('../images/content/icon-auction.png');
		width: 74px;
		height: 74px;
	}
	&_children {
		background-image: url('../images/content/icon-children.png');
		width: 94px;
		height: 76px;
	}
	&_contract {
		background-image: url('../images/content/icon-contract.png');
		width: 84px;
		height: 84px;
	}
	&_garage {
		background-image: url('../images/content/icon-garage.png');
		width: 74px;
		height: 74px;
	}
	&_pie {
		background-image: url('../images/content/icon-pie.png');
		width: 74px;
		height: 74px;
	}
	&_real-estate {
		background-image: url('../images/content/icon-real-estate.png');
		width: 68px;
		height: 68px;
	}
	&_skyline {
		background-image: url('../images/content/icon-skyline.png');
		width: 71px;
		height: 69px;
	}
	&_facebook {
		background-image: url('../images/content/icon-facebook.png');
		width: 25px;
		height: 25px;
	}
	&_google-plus {
		background-image: url('../images/content/icon-google-plus.png');
		width: 25px;
		height: 25px;
	}
	&_instagram {
		background-image: url('../images/content/icon-instagram.png');
		width: 25px;
		height: 25px;
	}
	&_twitter {
		background-image: url('../images/content/icon-twitter.png');
		width: 25px;
		height: 25px;
	}
	&_vk {
		background-image: url('../images/content/icon-vk.png');
		width: 25px;
		height: 25px;
	}
	&_youtube {
		background-image: url('../images/content/icon-youtube.png');
		width: 30px;
		height: 30px;
	}
}


