.img-wrap {
	display: inline-block;
	width: 100%;
	&__wrap {
		font-size: 0;
		line-height: 1;
	}
	&_compare {
		max-width: 540px;
		text-align: center;
		img {
			width: 100%;
			@include xl() {
				height: 314px;
			}
		}
	}
}
// .img-wrap_compare {
// 	img {
// 		height: 314px;
// 	}
// }