.input, .textarea, .form-control {
	width: 100%;
	border: none;
	// padding: 4px 10px 3px;
	@include pt(7px, 15px, $mixin-min-viewport, $mixin-max-viewport, 15px);
	@include pb(7px, 13px, $mixin-min-viewport, $mixin-max-viewport, 13px);
	padding-left: 13px;
	padding-right: 13px;
	height: auto;
	margin: 5px 0;

	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	color: #000;

	border-radius: 2px;
	background-color: #fff;
	transition: linear .1s;

	@include iph() {
		font-size: 16px;
		line-height: 1;
		font-weight: 400;
		color: rgba(#000, .7);
	}
	&:hover, &:focus {
		outline: none !important;
		box-shadow: 0px 9px 18px 0px rgba(#fff, 0.3);
	}
	&:focus {
		@include iph() {
			opacity: 0;
		}
	}
	&:only-child {
		margin: 0;
	}
	&_grey {
		background-color: #f5f5f5;
		&:hover, &:focus {
			box-shadow: 0px 9px 18px 0px rgba(#000, 0.11);
		}
	}
}