.main-title {
	h1 {
		color: #e5c90f;
		@include fz(24px, 55px, $mixin-min-viewport, $mixin-max-viewport, 55px);
		span {
			@include fz(18px, 43px, $mixin-min-viewport, $mixin-max-viewport, 43px);
			color: #fff;
		}
	}
}