.modal {
	.modal__form {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
			& + .form-group {
				@include mt(15px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
			}
		}
	}
}
.modal__dialog {
	@include sm() {
		max-width: 600px;
	}
}
.modal__content {
	border-radius: 0;
	border: none;
}
.modal__close {
	position: absolute;
	top: 25px;
	right: 30px;
	z-index: 2;
}
.modal__body {
	text-align: center;
}
.modal__wrap {
	min-height: 210px;
	@include sm() {
		min-height: 250px;
	}
}