.select-custom {
	margin: 5px 0;
	width: 125px;
	height: auto;
	.selectize-input {
		border: 1px solid #E2E2E2;
		padding: 5px 25px 5px 15px;

		font-size: 12px;
		color: #444;

		border-radius: 4px;
		background-color: #fff;
		box-shadow: none;
	}
	.selectize-dropdown {
		height: 150px;
		max-height: none;
		.mCSB_container  {
			margin-right: 0;
		}
		.mCSB_scrollTools {
			width: 6px;
			.mCSB_dragger {
				.mCSB_dragger_bar {
					width: 4px;
					background-color: #E2E2E2;
				}
			}
		}
	}
	.selectize-dropdown-content {
		overflow-x: visible;
		overflow-y: visible;
	}
	.option {
		color: #444;
		&:hover {
			background-color: #F5F6FA;
		}
		&.selected {
			background-color: rgba(#E2E2E2, .5);
		}
	}
	&.single {
		.selectize-input {
			&:after {
				position: absolute;
				top: 50%;
				right: 12px;

				margin-top: 0;

				border-top-color: #DFDFDF;
				transform: translate(0, -50%);
			}
			&.dropdown-active {
				&:after {
					margin: 0;
					border-bottom-color: #DFDFDF;
					transform: translate(0, -50%);
				}
			}
		}
	}
}