.slider {
	position: relative;
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 15px;
		right: 15px;
		transform: translate(0, -50%);
		margin-top: -55px;
		[class*="owl-"] {
			&:hover {
				background-color: transparent;
			}
		}
		.owl-prev, .owl-next {
			position: absolute;
			top: 0;
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	.owl-dots {
		margin-top: 30px;
		.owl-dot {
			span {
				margin: 5px 5px 5px 4px;
				width: 40px;
				height: 9px;
				background-color: #fff;
				border-radius: 0;
			}
			&:not(.active) {
				&:hover {
					span {
						background-color: #383b45;
					}
				}
			}
			&.active {
				span {
					background-color: #fdb900;
				}
			}
		}
	}
	&__flex {

	}
	&__col {
		position: static;
	}
	&__owl {
		position: static;
	}
	&__testimonial {
		// position: static;
	}
}