.social {
	padding: 0 5px;
	&__in {
		display: flex;
		flex-wrap: wrap;
		margin-left: -5px;
		margin-right: -5px;
	}
	&__link {
		&:hover {
			text-decoration: none;
			.social__icon {
			}
		}
	}
}
.social-link {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	margin: 5px;
	transition: linear .1s;

	background-color: #e5c90f;
	@include md() {
		width: 58px;
		height: 58px;
	}
	&:hover {
		opacity: .8;
	}
}

