<footer class="footer">
	<div class="container-fluid">
		<div class="row justify-content-around align-items-center">
			<div class="col-xl-4">
				203, Envato Labs, Behind Alis Steet, Melbourne, Australia. <br><br>

				<a href="tel:+123456789">123-456-789 </a><br>
				<a href="mailto:contact@yourdomain.com">contact@yourdomain.com</a><br>
				<a href="http://www.yourdomain.com">www.yourdomain.com</a><br>
			</div>
			<div class="col-xl-3">
				<div class="social">
					<div class="social__in">
						<a class="social__link social-link" href="#">
							<div class="social__icon icon icon_twitter"></div>
						</a>
						<a class="social__link social-link" href="#">
							<div class="social__icon icon icon_youtube"></div>
						</a>
						<a class="social__link social-link" href="#">
							<div class="social__icon icon icon_google-plus"></div>
						</a>
						<a class="social__link social-link" href="#">
							<div class="social__icon icon icon_vk"></div>
						</a>
						<a class="social__link social-link" href="#">
							<div class="social__icon icon icon_instagram"></div>
						</a>
						<a class="social__link social-link" href="#">
							<div class="social__icon icon icon_facebook"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal__dialog modal-dialog modal-dialog-centered" role="document">
		<div class="modal__content modal-content">
			<button type="button" class="modal__close close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal__body modal-body">
				<div class="modal__form consult-form background-wrap background-wrap_flex background-wrap_border background-wrap_border_yellow">
					<div class="consult-form__wrap background-wrap__in">
						<form>
							<h3>Заказать</h3>
							<h2>Базовый</h2>
							<div class="form-group">
								<input class="input input_grey" type="text" placeholder="Имя">
							</div>
							<div class="form-group">
								<input class="input input_grey" type="tel" placeholder="Телефон">
							</div>
							<div class="form-group">
								<input class="consulltation__button button button_width_full button_yellow button_shadow" type="submit" value="Заказать набор">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>