<header class="header header_fixed" data-id="header">
	<div class="container-fluid">
		<div class="row justify-content-center justify-content-sm-between align-items-center">
			<a href="#" class="header__logo logo padding"><img src="images/content/logo.png" alt=""></a>
			<a href="tel:+74951234567" class="header__tel tel-number padding"><span class="tel-number__code">+7 (495)</span> 123-45-67</a>
		</div>
	</div>
</header>