<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="favicon-16x16.png">
<script src="https://api-maps.yandex.ru/2.1/?apikey=<85bac3e0-0c65-4eed-8ee9-1953e573ec52>&lang=ru_RU" type="text/javascript"></script>
<link rel="stylesheet" href="styles/vendor.css">
<link rel="stylesheet" href="styles/main.css">