<script src="js/libs/jquery.js"></script>
<script src="js/libs/popper.js"></script>
<script src="js/libs/bootstrap.js"></script>
<script src="js/libs/svg4everybody.js"></script>
<script src="js/libs/owl.carousel.js"></script>
<script src="js/main.js"></script>